<div class="card border-light  mb-3 my-3">
    <div class="card-header">
        <h4 style="color: dodgerblue;">Gestión de usuarios</h4>
    </div>
    <div class="card-body text-primary">

        <h5 class="card-title">Parametros de busqueda</h5>
        <div style="margin-bottom: 8px;">
            <button class="btn btn-primary btn-sm">Consultar</button>
            <button class="btn btn-primary btn-sm">Limpiar</button>
        </div>

        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"
                style="max-width: 15%; padding-right: 1px;">
                <h6>Nombre:</h6>
            </label>
            <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
            </div>
        </div>
        <br>
        <h5 class="card-title">Lista de usuarios</h5>
        <div style="margin-bottom: 8px;">
            <button class="btn btn-primary btn-sm" (click)='crear()'>Crear</button>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" (click)="selectUser(usuario)">
                    <td>{{usuario.id_usuario}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.rol.nombre}}</td>
                    <td>{{usuario.activo}}</td>
                </tr>
            </tbody>
        </table>
        <br>

        <form>
            <h5 class="card-title">Información del Usuario</h5>
            <div>
                <button class="btn btn-primary btn-sm" [disabled]="bloquearCrear" (click)='create(datoUsuario)'>Guardar</button>
                <button class="btn btn-primary btn-sm" [disabled]="bloquear" (click)='update(datoUsuario)'>Editar</button>
                <button class="btn btn-primary btn-sm" [disabled]="bloquear" (click)='delete(usuario)'>Eliminar</button>
            </div>
            <br>
            <div class="form-group row" *ngIf="isPresent">
                <label for="id" class="col-sm-2 col-form-label col-form-label-sm" style="max-width: 15%; padding-right: 3px;">Id</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control form-control-sm" #id [value]="datoUsuario.id_usuario" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label col-form-label-sm "
                    style="max-width: 15%; padding-right: 3px;">
                    <h6>Nombre:</h6>
                </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" #nombre [(ngModel)]="datoUsuario.nombre"
                        name="nombre" id="nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm" style="max-width: 15%;">
                    <h6>Rol:</h6>
                </label>
                <div class="col-sm-7">
                    <select class="form-control form-control-sm" #role [(ngModel)]="rol" name="rol.id">
                        <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="activo" class="col-sm-2 col-form-label col-form-label-sm" style="padding-right: 4px;">
                    <h6>Activo:</h6>
                </label>
                <div class="col-sm-7">
                    <label><input type="radio" #activo [(ngModel)]="datoUsuario.activo" name="activo" value="SI"> SI</label>
                    <label><input type="radio" #activo2 [(ngModel)]="datoUsuario.activo" name="activo" value="NO"> NO</label>
                </div>
            </div>
        </form>
    </div>
</div>